@model System.Data.DataTable

@{
    ViewBag.Title = "Proizvodi";
}

<h2>Proizvodi</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Naziv
        </th>
        <th>
            Opis
        </th>
        <th>
            Kategorija
        </th>
        <th>
            Proizvodjac
        </th>
        <th>
            Dobavljac
        </th>
        <th>
            Cena
        </th>
        <th></th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Rows.Count; i++) {
    <tr>
        <td>
            @Model.Rows[i][1]
        </td>
        <td>
            @Model.Rows[i][2]
        </td>
        <td>
            @Model.Rows[i][3]
        </td>
        <td>
            @Model.Rows[i][4]
        </td>
        <td>
            @Model.Rows[i][5]
        </td>
        <td>
            @Model.Rows[i][6]
        </td>
        <td>
            @Html.ActionLink("Izmeni proizvod", "Edit", new { @id = @Model.Rows[i][0] })
        </td>
        <td>
            @Html.ActionLink("Obrisi proizvod", "Delete", new { @id = @Model.Rows[i][0] })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Dodaj novi proizvod", "Create")
</p>