@model List<MVC_app.Models.ProductModel>
@{
    ViewBag.Title = "Proizvodi JSON";
}

<h2>Proizvodi JSON</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Naziv
        </th>
        <th>
            Opis
        </th>
        <th>
            Kategorija
        </th>
        <th>
            Proizvodjac
        </th>
        <th>
            Dobavljac
        </th>
        <th>
            Cena
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Naziv
    </td>
    <td>
        @item.Opis
    </td>
    <td>
        @item.Kategorija
    </td>
    <td>
        @item.Proizvodjac
    </td>
    <td>
        @item.Dobavljac
    </td>
    <td>
        @item.Cena
    </td>
    <td>
        @Html.ActionLink("Izmeni proizvod", "EditJSON", new { @id = @item.ID })
    </td>
    <td>
        @Html.ActionLink("Obrisi proizvod", "DeleteJSON", new { @id = @item.ID })
    </td>
</tr>
    }

</table>

<p>
    @Html.ActionLink("Dodaj novi proizvod", "CreateJSON")
</p>